@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll bar customization */
:root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(60, 60, 60);
  }
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }